* {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.card {
    border-top:none;
    border-left: none;
    border-right: none;
    border-color: black;
    border-width: 3px;
}

.card-title {
    font-size: 30px;
}

.card-subtitle {
    font-size: 16px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 15px;
}

.header {
    margin-top: 50px;
    margin-bottom: 75px;
    color: #6200EE;
    padding: 10px;
    text-align: center;
}

.header > h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.show-header {
    color: #6200EE;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30pt;
}

h4 {
    font-size: 2em;
}

.btn {
    font-size: 14px;
    width: 75px;
    border-radius: 15px;
    padding: 10px;
    width: 75px;
}

.new-container {
    display: flex;
    justify-content: center;
}

.new-btn {
    background-color: #6200EE;
    color: white;
    width: 75%;
}

.new-btn > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.cancel-btn {
    background-color: #03Dac5;
    color: black;
    margin-right: 15px;
}

.all-btn {
    background-color: #03Dac5;;
    color: white;
    margin-right: 15px;
    width: 100px;
}

.edit-btn {
    background-color: #0d3ac5;
    color: white;
    margin-right: 15px;
}

.show-btn {
    background-color: #03Dac5;
    color: black;
    margin-right: 15px;
    width: 100px
}

.delete-btn {
    background-color: #3700B3;
    color: white;
    margin-right: 15px;
}

label {
    font-family: 'Raleway', sans-serif
}

#title-label {
    margin-top: 25px;
}

#markdown {
    margin-bottom: 25px;
    height: 300px;
}

@media only screen and (min-width: 768px) {
    .header > h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 4em;
    }

    .new-btn {
        background-color: #6200EE;
        color: white;
        width: 50%;
    }
    
    .new-btn > a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .card {
        border-top:none;
        border-left: none;
        border-right: none;
        border-color: black;
        border-width: 3px;
    }
    
    .card-title {
        font-size: 30px;
    }
    
    .card-subtitle {
        font-size: 16px;
    }
    
    .card-text {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .header {
        margin-top: 50px;
        margin-bottom: 75px;
        color: #6200EE;
        padding: 10px;
        text-align: center;
    }
    
    .header > h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 50pt;
    }

    .show-header {
        color: #6200EE;
        margin-top: 50px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 50pt;
    }
    
    h4 {
        font-size: 31pt;
    }
    
    .btn {
        font-size: 16pt;
        width: 75px;
        border-radius: 15px;
        padding: 10px;
        width: 125px;
    }
    
    .new-container {
        display: flex;
        justify-content: center;
    }
    
    .new-btn {
        background-color: #6200EE;
        color: white;
        width: 30%;
    }
    
    .new-btn > a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    
    .cancel-btn {
        background-color: #03Dac5;
        color: black;
        margin-right: 15px;
    }
    
    .all-btn {
        background-color: #03Dac5;;
        color: white;
        margin-right: 15px;
    }
    
    .edit-btn {
        background-color: #0d3ac5;
        color: white;
        margin-right: 15px;
    }
    
    .show-btn {
        background-color: #03Dac5;
        color: black;
        margin-right: 15px;
        width: 150px
    }
    
    .delete-btn {
        background-color: #3700B3;
        color: white;
        margin-right: 15px;
    }
    
    label {
        font-family: 'Raleway', sans-serif
    }
    
    #title-label {
        margin-top: 25px;
    }
    
    #markdown {
        margin-bottom: 25px;
        height: 300px;
    }
}